.todo-item {
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #cdcd32;
    border-radius: 1rem;
    box-shadow: 3px 0px 10px #605a5a;
    transition: .2s ease-in-out;
}

.todo-item:hover {
    box-shadow: 5px 5px 15px #605a5a;
    transform: scale(1.05);
}
